<section id="section-contact" class="section-wrapper">
    <div class="section-content">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Collect Phone</h4>
                <div>Within North America: 1 905-532-3648</div>
                <div>Outside North America: 001 905-532-3648</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Toll Free</h4>
                <div><span>Select the country where you are located:</span>
                    <drop-down [items]="countryList" [selectedCountry]="selectedCountry"
                               *ngIf="expandedCountry"></drop-down>
                </div>
                <div>Dialing Instructions: 00-800-8003-3333</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Fax Numbers</h4>
                <div>To submit a pre-authorisation or any medical management documentation: +1 905 669 2524</div>
                <div>To submit your claim or any claims related documentation: +1 905 762 5194</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Collect Phone</h4>
                <div>Within North America: 1 905-532-3648</div>
                <div>Outside North America: 001 905-532-3648</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Email</h4>
                <div>Medical management team for an upcoming medical appointment: medical@generalihealth.com</div>
                <div>Claims Submission: claims@generalihealth.com</div>
                <div>Claims, Benefit or General Inquiry: globalservice@generalihealth.com</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Mailing Address</h4>
                <div>Generali Assistance and Service Centre<br/>PO Box 306, 266 Elmwood Avenue<br/>Buffalo, NY 14222 USA
                </div>
            </div>
        </div>
    </div>
</section>