<section id="section-find-a-doctor" class="section-wrapper">
    <div class="header">
        <div class="color-primary"><h3>Find a Doctor or Hospital</h3></div>
    </div>
    <div class="section-body">
        <div>
            <span>All around the world you are free to seek care from the provider of your choice.</span>
        </div>
        <div>
            <span>Search our data for providers located <a href="" class="weight-bold">Worldwide excluding the United States</a> or for providers located in the <a href="" class="weight-bold">United States Only</a></span>
        </div>
        <div>
            <span>Note: restrictions apply for care within the United States, please refer to your policy document to ensure you have coverage in the United States.</span>
        </div>
    </div>
</section>