<section id="section-search-claim" class="section-wrapper">
    <div class="section-header">
        <h3>Search Claims</h3>
    </div>
    <div class="section-content">
        <div>
            <span><a href="" class="weight-bold">Login to research claims,</a>
            track co-insurance amounts paid by you/your family, and view explanations of benefits.</span>
        </div>
        <div>
            <span>Please note: your username is your member ID number which can be found on your <a href="" class="weight-bold">Generali insurance ID card.</a> Your password for initial sign-in is your 8 digit date of birth (MMDDYYYY).</span>
        </div>
        <div>
            <span>For assistance with your login, please contact the <a href="" class="weight-bold">Global Service Centre.</a></span>
        </div>
    </div>
</section>