/*****
mobile view
******/
@media (max-width: 768px){
  h1, .text-h1{
    font-size: 1.5em
  }
  .page-home {
    .section-wrapper {
      .toggle-switch {
        display: block !important;
      }
      h3 {
        margin-right: 50px;
      }
    }
  }
}
@media (min-width: 768px){
  h1, .text-h1{
    font-size: 1.5em
  }
  .section-wrapper{
    .toggle-switch{
      display:none !important;
    }
    &.true .section-content {
      display: block !important;
    }
    &.false .section-content {
      display: block !important;
    }
  }
}
/*****
Tablet view
******/
